<template>
  <div id="app">
       <Sidenav></Sidenav>
       <Topnav></Topnav>
      <div class="main-content">
        <div class="container pt-5">
            <div class="row">
          <div class="col-4">
                    <button type="button" class="btn btn-secondary" data-target="#addmodal"
                        data-toggle="modal"> <img src="assets/images/add.png" height="18"
            class="mr-1">&nbsp;Add Books&nbsp; </button>
                </div>
                <div class="col-4 offset-md-4">
           <div class="d-flex justify-content-end pr-1">
                        <input type="text" class="form-control custom-form" id="search" placeholder="Search">
             <img src="assets/images/search_48p x.png" height="25" class="mt-2 mr-2 position-absolute invert">
                    </div>
                </div>
            </div>


            <div class="table-responsive pt-3">
                <div style="overflow-x:auto;"></div>
                <table class="table table-bordered table-hover">
                    <thead>
                   <tr>
                         <th>Actions</th>
                            <th>Name</th>
                          <th>Author</th>
                            <th>Copies Available</th>
                      <th>Category</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                             <td>
                               <a href="" class="edit-link">Edit</a>
                        <br>
                             <a href="" class="delete-link" data-target="#deletemodal"
                                    data-toggle="modal">Delete</a>  
                                    <br>
                             <a href="" class="return-link">Return</a>
                             <br>
                             <a href="" class="borrow-link">Borrow</a>
                            </td>
                            <td>Algorithms</td>
                            <td>Kevin Wayne</td>
                            <td>12</td>
                            <td>Programming</td>
                           
                        </tr>
                        <tr>
                            <td>
                                <a href="" class="edit-link">Edit</a>
                    <br>
                <a href="" class="delete-link" data-target="#deletemodal"
                                    data-toggle="modal">Delete</a>
                                    <br>
                             <a href="" class="return-link">Return</a>
                             <br>
                             <a href="" class="borrow-link">Borrow</a>
                            </td>
                            <td>Java First Edition</td>
                            <td>Steve Jobs</td>
                            <td>5</td>
                            <td>Programming</td>
                            
                        </tr>
                        <tr>
                            <td>
                               <a href="" class="edit-link">Edit</a>
                    <br>
                <a href="" class="delete-link" data-target="#deletemodal"
                                    data-toggle="modal">Delete</a>
                                    <br>
                             <a href="" class="return-link">Return</a>
                             <br>
                             <a href="" class="borrow-link">Borrow</a>
                            </td>
                            <td>Android</td>
                            <td>Andirobin</td>
                            <td>19</td>
                            <td>Programming</td>
                            
                        </tr>
                        <tr>
                            <td>
                              <a href="" class="edit-link">Edit</a>
                    <br>
                <a href="" class="delete-link" data-target="#deletemodal"
                                    data-toggle="modal">Delete</a>
                                    <br>
                             <a href="" class="return-link">Return</a>
                             <br>
                             <a href="" class="borrow-link">Borrow</a>
                            </td>
                            <td>Design Patterns</td>
                            <td>Ohwiell Groge</td>
                            <td>4</td>
                            <td>Front End Designs</td>
                            
                        </tr>
                        <tr>
                            <td>
                               <a href="" class="edit-link">Edit</a>
                    <br>
                <a href="" class="delete-link" data-target="#deletemodal"
                                    data-toggle="modal">Delete</a>
                                    <br>
                             <a href="" class="return-link">Return</a>
                             <br>
                             <a href="" class="borrow-link">Borrow</a>

                            </td>
                            <td>SQL</td>
                            <td>Hakasiba Nawasa</td>
                            <td>7</td>
                            <td>Database</td>
                            
                        </tr>

                    </tbody>
                </table>
            </div>
            <ul class="pagination justify-content-end">
                <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="addmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add Books</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body pl-5 pr-5">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Name: </label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Author: </label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Copies: </label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="customSelect">Category: </label>
                            <select id="customSelect" name="category" class="custom-select">
                                <option selected>Please select a category</option>
                                <option value="">Comedy</option>
                                <option value="">Science Fiction</option>
                                <option value="">Drama</option>
                                <option value="">Climax</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn-addpatron" data-dismiss="modal">Save</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Add Patron</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body pl-5 pr-5">
                    <p>Are you sure do you want to delete this?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary">Cancel</button>
                    <button type="button" class="btn btn-sm btn-danger"> Yes </button>
                </div>

            </div>
        </div>
    </div>


  </div>
</template>

<script>
import Sidenav from '../navigations/Sidenav.vue'
import Topnav from '../navigations/Topnav.vue'
export default {
    components: { Sidenav, Topnav },
}
</script>

<style>
 @import '../../assets/css/style.css';
</style>