<template>
  <div id="app">
      <div class="wrapper">
      <Sidenav></Sidenav>
         <Topnav></Topnav>
      </div>
    

       <div class="main-content">
            <div class="container pt-10">
                <div class="row mt-5">
                    <div class="col-10 col-sm-10 col-lg-6 pb-3">
                        <h3>Borrowed and Returned books</h3>
                        <canvas id="barchart" style= "width: 180px; height: 100px;"></canvas>
            
                    </div>
                    <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
                        <h4>Popular book Genre</h4>
                        <canvas id="piechart" style= "width: 180px; height: 100px;"></canvas>
                       
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import Chart from 'chart.js'
import Sidenav from '../navigations/Sidenav.vue'
import Topnav from '../navigations/Topnav.vue'
export default {
  components: { Sidenav, Topnav },
     mounted: function(){
        
  var ctx1 = document.getElementById('barchart').getContext('2d');
  new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: ['Books', 'Computers', 'News Papers', 'Magazines', 'Comics'],
        datasets: [{
            label: ['Inventory'],
            data: [500, 90, 275, 305, 178],
            borderColor:"black",
            backgroundColor: [
                'rgb(3, 31, 99)',
                'rgb(0, 153, 0)',
                'rgb(3, 31, 99)',
                'rgb(0, 153, 0)',
                'rgb(3, 31, 99)'
            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
  });

    var ctx2 = document.getElementById('piechart').getContext('2d');
    new Chart(ctx2, {
        type: 'pie',
        data: {
        labels: ['Philippines', 'Indonesia', 'Australia', 'Japan'],
        datasets: [{
            label: '# of Votes',
            data: [2500, 2000, 2700, 1300],
            borderColor:"black",
            backgroundColor: [
                 'rgb(255, 0, 0)',
                'rgb(255, 165, 0)',
                'rgb(51, 204, 255)',
                'rgb(0, 0, 255)'
                
            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    });
  }
}
</script>

<style>
 @import '../../assets/css/style.css';
</style>