<template>
  <div id="app">
      <Sidenav></Sidenav>
         <Topnav></Topnav>
    

      <div class="main-content">
    <div class="container pt-5">
      <div class="row">
        <div class="col-4">
          <button type="button" class="btn btn-primary" data-target="#addmodal" data-toggle="modal"><img src="assets/images/addpatron.png" height="18"
                    class="mr-1">&nbsp;Add Patrons&nbsp;
          </button>
        </div>
        <div class="col-4 offset-md-4">
          <div class="d-flex justify-content-end pr-1">
            <input type="text" class="form-control custom-form" id="search" placeholder="Search">
            <img src="assets/images/search_48px.png" height="25" class="mt-2 mr-2 position-absolute invert">
          </div>
        </div>
      </div>


      <div class="table-responsive pt-3">
        <div style="overflow-x:auto;"></div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Actions</th>
              <th>Name</th>
              <th>Email Address</th>
              <th>Date Registered</th>
              

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="" class="edit-link">Edit</a>
                <br>
                <a href="" class="delete-link" data-target="#deletemodal"
                                    data-toggle="modal">Delete</a>
              </td>
              <td>Kael Invoker</td>
              <td>Kale.inv@gmail.com</td>
              <td>03/31/20</td>
              
            </tr>
            <tr>
              <td>
                 <a href="" class="edit-link">Edit</a>
                    <br>
                <a href="" class="delete-link" data-target="#deletemodal"
                                    data-toggle="modal">Delete</a>
              </td>
              <td>Riki Maru</td>
              <td>maruHiriki@gmail.com</td>
              <td>07/02/20</td>
              
            </tr>
            <tr>
              <td>
                 <a href="" class="edit-link">Edit</a>
                    <br>
                <a href="" class="delete-link" data-target="#deletemodal"
                                    data-toggle="modal">Delete</a>
              </td>
              <td>Parace Tamol</td>
              <td>Tamol.para@gmail.com</td>
              <td>07/21/20</td>
              
            </tr>
            <tr>
              <td>
                 <a href="" class="edit-link">Edit</a>
                    <br>
                <a href="" class="delete-link" data-target="#deletemodal"
                                    data-toggle="modal">Delete</a>
              </td>
              <td>Amoxi Cilin</td>
              <td>Amoxi.Cilin@gmail.com</td>
              <td>10/16/20</td>
              
            </tr>

          </tbody>
        </table>
      </div>
      <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
      </ul>
    </div>
  </div>

  <div class="modal fade" id="addmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <!-- An Top Han Modal -->
        <div class="modal-header">
          <h4 class="modal-title">Add Patron</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Lawas han Modal -->
        <div class="modal-body pl-5 pr-5">
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">First Name</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Date Registered</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>
          </form>
        </div>

                                         <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn-addpatron" data-dismiss="modal">Save</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="deletemodal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Patron</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body pl-5 pr-5">
          <p>Are you sure do you want to delete this?</p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary">Cancel</button>
          <button type="button" class="btn btn-sm btn-danger"> Yes </button>
        </div>

      </div>
    </div>
  </div>



  </div>
</template>

<script>
 import Sidenav from '../navigations/Sidenav.vue'
  import Topnav from '../navigations/Topnav.vue'
export default {
components: {Sidenav,Topnav},
}
</script>

<style>

</style>