<template>
  <div id="app">
      <Sidenav></Sidenav>
         <Topnav></Topnav>

    <div class="main-content"></div>

  </div>
</template>

<script>
import Sidenav from '../navigations/Sidenav.vue'
  import Topnav from '../navigations/Topnav.vue'
export default {
components: {Sidenav,Topnav},
}
</script>

<style>

</style>