html {
  height: 100%;
}
body{
  background-image: linear-gradient(to top left,#287D8D,#AD9FDF);
}

h6{
  color: #FFFFFF;
}

.edit-link:hover {
  color: white;
}

.delete-link:hover {
  color: red;
}

.return-link:hover{
  color: blue;
}

.borrow-link:hover{
  color: yellow;
}
a{
  font-size: 18px;
  text-decoration: underline;
  color: black;
}


.btn-addpatron{
  background-color: #525EE0;
}
h2
{
  font-size: 30px;
  color: white;
  padding-top: 27px
}
.edit-link{
color: black;
text-decoration-line: line-below;
}
.delete-link{
  color: black;
  text-underline-position: left;

}
.btn2{
  padding-top: 20px;
  padding-left: 20px; 
}

.modal-title{
  background-image: linear-gradient(to right,#525EE0,#FFFFFF);
}

.top-nav {
  width:100%;
 
   background-image: linear-gradient(to right,#525EE0,#FFFFFF);

  height: 5.0rem;
  z-index: 0;
  position: absolute;
  top: 0  ;
  right: 0;

}

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  padding-right: 1rem;
  padding-top: 6px;
  
}

.link-logout {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  
  text-decoration: none;
  /* identical to box height */
  color: pink;
}


.main-content {
  margin-left: 265px;
  padding: 0px 10px;
  margin-top: 6rem;
}

.custom-form {
  color: #B6A192;
  display: block;
  width: 24rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  border-radius: 50px;

}


.custom-btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 3px;
  text-align: center;
  margin-right: 3.5px;
  border-radius: 25px;
}
.btn-primary{
  background-color: #F0E3E3;
  color: black;
}

.btn-secondary{
  background-color: #F0E3E3;
  color: black;
}
th {
 font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
}

td {
  font-family: 'Open Sans', sans-serifele
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  line-height: 1rem;
}




.side-nav {
  height: 89.7%;
  width: 270px;
  position: fixed;
  z-index: 2;
  top: 1;
  bottom: 0;
  background-image: linear-gradient(to right,#525EE0,#999999);
  overflow-x: hidden;
 
  transition: all 400ms;
}

.logo-name {
font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  font-weight: 100;
  color: #FFFFFF;
}

.side-nav .logo-name:hover {
  cursor: default;
}




}

.side-nav a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  color: #ffdede;
  display: block;

}

.side-nav .option:hover {
  color: #a5b3a8;
  transition: all 250ms;
}

.option {
 font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;

  color: #FFFFFF;
}



.element-container {
  width: 100%;
  height: 55px;
  position: relative;
}

.element {
  position: absolute;
  margin-top: 2px
}

.active-link {
  position: relative;
  height: 55px;
  background-image: linear-gradient(to right,#FFFFFF,#287D8D);
}



@media only screen and (max-width: 768px) {
  html {
    font-size: .9rem;
  }

  .side-nav {
    width: 90px;
  }

  .main-content {
    margin-left: 90px;
  }

  .active {
    height: 50px;
  }


  .custom-btn {
   font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0px;
    text-align: center;
    font-display: none;
    width: 44px;
    line-height: -2.5rem;
    background-color: pink;
  }
  .btn3{
    color: #ffff;
  }


  .option {
    display: none;
  }

  .logo-name {
    display: none;
  }

  .logo {
    margin-left: -15px;
  }

  .top-nav {
    width: calc(100% - 90px);
  }

  .nav-container {
    margin-left: 125px;
  }
}

