<template>
   <div class="sidebar">
                <ul>
                    <li><a href="Dashboard.html"><img src="../../assets/images/dashboard.svg" height="20">&nbsp;&nbsp;&nbsp;Dashboard</a></li>
                    <li><a href="PatronManagement.html"><img src="../../assets/images/patron.png" height="20">&nbsp;&nbsp;&nbsp;Patron Management</a></li>
                    <li><a href="BookManagement.html"><img src="../../assets/images/management.png" height="20">&nbsp;&nbsp;&nbsp;Books Management</a></li>
                    <li><a href="Setting.html"><img src="../../assets/images/setting.svg" height="20">&nbsp;&nbsp;&nbsp;Setting</a></li> 
                </ul>
    </div>
</template>

<script>
export default {
    name:'Sidenav'
}
</script>

<style scoped>
 @import '../../assets/css/style.css';
</style> 