<template>
  <div class="topbar">
      <div class="row">
          <img src="../../assets/images/logo.png" height="53" alt="" class="logo">
          <h2> Library Ini System</h2>
                   
        </div>
        <div class="container">
         <button class = "logout"><i class="fas fa-user"></i>Logout</button>
</div>
    </div>
    
</template>

<script>
export default {
    name: 'Topnav'
}
</script>

<style scoped>
    @import '../../assets/css/style.css';
</style>