*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100%;
    min-width: 100%;
}
body{
    background-image: linear-gradient(to top left,#287D8D,#AD9FDF 70%);
}
h2{
    padding-left: 30px;
    padding-top: 15px;
}
.logo{
    margin-left: 80px;
    margin-top: 10px;
}
.sidebar{
    z-index: 2;
    margin-top: -30px;
    position: fixed;
    width: 200px;
    height: 800px;
    background:rgb(0, 0, 0);
    padding: 30px 0;
     background-image: linear-gradient(to top left,#287D8D,#AD9FDF);
}
.sidebar h2{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(252, 252, 252, 0.178);
    border-top: 1px solid rgba(255, 255, 255, 0.164);
}
.sidebar ul li a {
    color: #ffffff;
    display: block;
}
.sidebar ul li a .fas {
    color: rgb(255, 255, 255);
    width: 25px;  
}
.sidebar ul li:hover {
    background: #594f8d;
}
.sidebar ul li:hover a {
    color: #fff;
}
.topbar {
    margin-top: -100px;
    position: fixed;
    width: 100%;
    height:70px;
    background: transparent;
    box-shadow: 0px 3px 4px rgba(7, 0, 0, 0.342);
}
.topbar .logout {
    position: fixed;
    height: 30px;
    font-size: 12px;   
    padding: 5px;
    background: transparent;
    text-transform: uppercase;
    border-radius: 10px;
}
.topbar .logout:hover{
    background: #9888e9;
}
.topbar .logout .fas {
    color: rgb(255, 255, 255);
    width: 15px; 
}
.topbar .container {
    position: absolute;
    top: 10px;
    left: 1250px;
}
.main-content {
    margin-left: 265px;
    padding: 0px 10px;
    margin-top: 6rem;
}
table{
    position: fixed;
    width: 1000px;
    margin-left: 30px;
    margin-right: 150px;
    margin-top: 80px;
    margin-bottom: auto;
    text-align: center;
    background: #ffffff;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}
th {
    background-color: #0719B9;
    color: white;
}
table .edit ,.delete {
    background: rgb(10, 218, 255);
    width: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Impact;
}
.save {
    background: rgb(10, 218, 255);
    width: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Impact;
}
.add{
    padding: 2px;
    text-align: center;
    color: white;
    background: black;
    border-radius: 4px;
    position: fixed;
    margin-top: 40px;
    margin-left: 29px;
    height: 30px;
    width: 100px;
}
.search{
    padding: 2px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 4px;
    position: fixed;
    margin-top: 40px;
    margin-left: 535px;
    height: 30px;
    width: 494px;
}